name: Docker

on:
  push:
    branches:
      - master 
  pull_request:
  repository_dispatch:
    types:
      - build

jobs:
  build:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/master'
    steps:
      - name: Git checkout main repo
        uses: actions/checkout@v2

      - name: Git checkout OCC scrimmage maps
        uses: actions/checkout@v2
        with:
          repository: OvercastCommunity/scrimmage-maps
          path: scrimmage-maps

      - name: Git checkout bolt maps
        uses: actions/checkout@v2
        with:
          repository: bolt-rip/maps
          token: ${{ secrets.GHR_PASSWORD }}
          path: maps

      - name: Set up Maven
        uses: actions/setup-java@v1
        with:
          java-version: 1.8

      - name: maven-settings-xml-action
        uses: whelk-io/maven-settings-xml-action@v9
        with:
          repositories: '[{ "id": "bolt-rip-private", "url": "https://repo.repsy.io/mvn/boltrip/private", "releases": { "enabled": "true" }, "snapshots": { "enabled": "true" } }]'
          servers: '[{ "id": "bolt-rip-private", "username": "${{ secrets.MAVEN_USERNAME }}", "password": "${{ secrets.MAVEN_PASSWORD }}" }]'

      - name: Download private plugins from repsy
        run: |
            mvn -q dependency:get -DrepoUrl=https://repo.repsy.io/mvn/boltrip/private -Dartifact=me.pablete1234:bacperms:1.2.5 -Ddest=plugins/

      - name: Delete useless files and directories
        run: |
            rm -rf maps/.git scrimmage-maps/.git .git .github .gitignore maps/.github scrimmage-maps/.gitignore scrimmage-maps/README.md

      - name: Publish to Registry
        uses: docker://lgohr/publish-docker-github-action:20210118133633a73f0f
        with:
          name: bolt-rip/config-pgm
          registry: ghcr.io
          username: ${{ secrets.GHR_USERNAME }}
          password: ${{ secrets.GHR_PASSWORD }}
          snapshot: true
