name: Docker

on:
  push:
    branches:
      - master 
  pull_request:
  repository_dispatch:
    types:
      - build

jobs:
  build:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/master'
    steps:
      - name: Git checkout main repo
        uses: actions/checkout@v2

      - name: Git checkout competitive maps
        uses: actions/checkout@v2
        with:
          repository: OvercastCommunity/competitive-maps
          token: ${{ secrets.GHR_PASSWORD }}
          path: competitive-maps

      - name: Set up Maven
        uses: actions/setup-java@v1
        with:
          java-version: 1.8

      - name: maven-settings-xml-action
        uses: whelk-io/maven-settings-xml-action@v9
        with:
          repositories: '[{ "id": "bolt-rip-private", "url": "https://repo.repsy.io/mvn/boltrip/private", "releases": { "enabled": "true" }, "snapshots": { "enabled": "true" } }]'
          servers: '[{ "id": "bolt-rip-private", "username": "${{ secrets.MAVEN_USERNAME }}", "password": "${{ secrets.MAVEN_PASSWORD }}" }]'

      - name: Download private plugins from repsy
        run: |
            mvn -q dependency:get -DrepoUrl=https://repo.repsy.io/mvn/boltrip/private -Dartifact=me.rerere.matrix:Matrix:6.2.2 -Ddest=plugins/
            mvn -q dependency:get -DrepoUrl=https://repo.repsy.io/mvn/boltrip/private -Dartifact=it.ytnoos.lpx:LPX:2.4.3-MORTAL -Ddest=plugins/
            mvn -q dependency:get -DrepoUrl=https://repo.repsy.io/mvn/boltrip/private -Dartifact=oc.tc:Morpheus:1.0.1-SNAPSHOT -Ddest=plugins/

      - name: Download SportPaper
        uses: dawidd6/action-download-artifact@v2
        with:
          github_token: ${{ secrets.GH_TOKEN }}
          workflow: build.yml
          workflow_conclusion: success
          branch: master
          name: sportpaper-1.8.8-R0.1-SNAPSHOT
          path: .
          repo: bolt-rip/SportPaper

      - name: Delete useless files and directories
        run: |
            rm -rf competitive-maps/.git .git .github .gitignore competitive-maps/.github competitive-maps/.gitignore competitive-maps/README.md competitive-maps/_imaging_edits

      - name: Push image
        uses: cpina/github-action-push-to-another-repository@main
        env:
          API_TOKEN_GITHUB: ${{ secrets.GH_TOKEN }}
        with:
          source-directory: '.'
          destination-github-username: 'bolt-rip'
          destination-repository-name: 'config-pgm-image'
          user-email: bot@bolt.rip
          target-branch: master
          commit-message: ORIGIN_COMMIT

      - name: Publish to Registry
        uses: docker://lgohr/publish-docker-github-action:20210118133633a73f0f
        with:
          name: bolt-rip/config-pgm
          registry: ghcr.io
          username: ${{ secrets.GHR_USERNAME }}
          password: ${{ secrets.GHR_PASSWORD }}
          snapshot: true
